*{
	background: white;
}
.current{
	background: red;
}
body,.lv0,.lv1{
	display:flex;
}
body{
	flex-wrap: wrap;
	justify-content: center;
}
.lv0{
	height: 500px;
	flex: 0 0 1000px;
	justify-content: space-around;
	border: 1px solid black;
}
#bar{
	height: auto;
	border: none;
	margin-top: 20px;
}
.lv1{
	margin: 20px 0;
	flex:0 0 300px;
	justify-content: space-around;
	align-items: center;
	border: 1px solid black;
}
.item{
	flex:0 0 100px;
	height: 100px;
	border: 1px solid black;
	text-align: center;
	line-height: 100px;
}