body{
	margin:0;
	padding: 0;
}
div{
	display: flex;
	align-items: center;
	flex-wrap:nowrap;
}
/*
	去掉了body{flex-direction:column;}后，root元素在浏览器视口宽度缩小后就会将内容溢出到屏幕左边了
 */
div{
	border:1px solid black;
	padding: 10px;
	margin:5px;
	flex:1 1 0;
	background: white;
	/*初始宽度是0，flex-grow和flex-shrink是1，则能够按照内容自动伸缩*/
}
#root{
	flex:1 1 300px;

}
#buttons{
	justify-content: space-around;
	border: none;
}
div div{
	height: 30%;
}
.highlight{
	background-color: red;
}
.chosen{
	background-color:lightblue;
}
button{
	flex:0 0 auto;
}
