*{
	background: white;
}
body,.lv0{
	display:flex;
}
body{
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
div{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
/*
高度是个缺省的值（height:auto;）
因此要在子元素中使用百分数来表示高度的话，必须为祖先元素设置确定的高度。
 */
.lv0{
	height: 550px;
	width: 70%;
	border: 1px solid red;
}
#bar{
	flex:auto;
	height: auto;
	border: none;
	margin-top: 20px;
}
.newest{
	width:40%;
	height:40%;
	border:1px solid black;
}